.form1 {
width: 300px;
height: 150px;
border-style: solid;
border-color: blue;
float: right;
background-color: white;
margin-right: 20px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
Padding-bottom: 5px;
}

body{
    background: url("/Users/annemariehin/bootcamp/Giphy-Project/assests/Images/hotel-wallpaper.png");
}

.topics{
    margin-left: 20px;
    margin-top: 10px;
}